VITE_PAYPAL_CLIENT_ID=
VITE_PAYPAL_PLAN_ID=
VITE_YOUTUBE_API_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_API_BASE_URL=
VITE_VERSION=
VITE_USE_MOCK_API=true
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_TIKTOK_CLIENT_KEY=
VITE_INSTAGRAM_CLIENT_ID=
